<div class="flex flex-row justify-center mx-auto py-2 gap-5">
  <a (click)="_router.navigate(['user/add'])" class="cursor-pointer inline-block text-center rounded-full border border-blue-600 bg-blue-600 px-8 py-2 text-white hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500">
    <span class="text-sm  font-medium"> Agregar Jugador </span>
  </a>
  <label class="relative block overflow-hidden rounded-full border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600">
    <input [formControl]="searcher" type="text"  class="peer h-6 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"/>
      <span class="absolute left-3 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
        Jugadores
      </span>
  </label>
</div>

<div class="overflow-hidden overflow-x-auto rounded-lg border border-gray-200 dark:border-gray-700 players" *ngIf="players$ | async as players">
  <table class="min-w-full divide-y divide-gray-200 text-sm dark:divide-gray-700">
    <thead class="bg-gray-100 dark:bg-gray-800">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900 dark:text-white">
          <div class="flex items-center gap-2">#</div>
        </th>
        <th class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900 dark:text-white">
          <div class="flex items-center gap-2">Nombre</div>
        </th>
        <th class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900 dark:text-white">
          <div class="flex items-center gap-2">Mazos</div>
        </th>
        <th class="whitespace-nowrap px-4 py-2 text-left justify-center font-medium text-gray-900 dark:text-white">
          <div class="flex items-center justify-center gap-2">Acciones</div>
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 dark:divide-gray-700 ">
      <tr class="dark:bg-gray-900" *ngFor="let player of players; let i=index">
        <th scope="row text-start"><h5 class="text-start justify-start ml-4">{{i}}</h5> </th>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">{{player.name}}</td>
        <td>
          <li class="list-none" *ngFor="let deck of player.decks">
            <h5 class="text-start justify-start ml-4">{{deck.name}} - {{deck.cards}}</h5>
          </li>
        </td>
        <td class="flex justify-center">
          <span class="inline-flex align-center justify-center  divide-x overflow-hidden rounded-md border bg-white shadow-sm" >
          <button (click)="editPlayer(player)" class="inline-block p-3 text-gray-700 hover:bg-gray-50 focus:relative" title="Editar Jugador"          >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4" >
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
            </svg>
          </button>

          <button (click)="deletePlayer(player)" class="inline-block align-center p-3 text-gray-700 hover:bg-gray-50 focus:relative" title="Eliminar Jugador" >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>
          </button>
        </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


